.login-btn, .btn{
  background: none;
  background-color: #74c69d;
  border: none;
  border: 2px #1b4332 solid;
  border-radius: 16px;
  font-weight: bold;
  padding: 0.5em 1.25em;
}

.login-btn:hover, .btn:hover{
  cursor: pointer;
  background-color: #52b788;
}

.login-btn:active, .btn:active{
  background-color: #2d6a4f;
}