.users-list-item{
  list-style: none;
  background-color: #0003;
  border-radius: 1em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  margin-bottom: 1em;
  padding: 1px 1em;
  transition: all 0.5s ease-in-out;
}

.users-list-item:hover{
  transform: scale(1.1);
}

#users-table{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
}

#users-title{
  margin:0;
}

@media (max-width: 689px){
  #users-table{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 519px){
  #users-table{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 370px){
  #users-table{
    grid-template-columns: 1fr;
  }
}
